---
import {type CollectionEntry, getCollection} from "astro:content"
import CherriesLayout from "../layouts/cherries-layout.astro"
import EleventyCherriesLayout from "../layouts/eleventy-cherries-layout.astro"
import EleventyCherriesEntry from "../components/entry/eleventy-cherries-entry.astro"
import {render} from "astro:content"
import getEntries from "../entries.ts"
import Entry from "../components/entry/entry.astro"
import {Debug} from "astro:components"

export async function getStaticPaths() {
	const entries = await getEntries()
	return entries.map(post => ({
		params: {slug: post.id},
		props: post,
	}))
}

type Props = CollectionEntry<EntryCollectionName>

const post = Astro.props
const {Content} = await render(post)
---

{
	post.collection === "eleventyCherries" ? (
		<EleventyCherriesLayout {...post.data}>
			<EleventyCherriesEntry {...post.data} id={post.id}>
				<Content />
			</EleventyCherriesEntry>
		</EleventyCherriesLayout>
	) : (
		<CherriesLayout {...post.data}>
			<main>
				<Entry {...post.data} id={post.id}>
					<Content />
				</Entry>
			</main>
		</CherriesLayout>
	)
}
